<!-- npx tailwindcss-cli@latest build ./src/tailwind.css -o ./dist/tailwind.css -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dischi musicali API boolean</title>
    
    <!-- add tailwind -->
    <link rel="stylesheet" href="css/tailwind.css">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- axios cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

</head>
<body class="bg-black">
    <div class="wrap">
        <div class="container mx-auto" id="app">

            <div class="header text-gray-400 text-center">
                <h1 class="text-3xl">Dischi musicali API boolean</h1>
            </div>
            
            <div class="main">

                <!-- main content page -->

                <div class="mt-5 pl-6">
                    <span class="text-gray-500">Scegli un genere dell'album per filtrare tutti i dschi musicali</span>
                    
                    <select v-model="selected" @change="filtrer">
                        <option value="All">All</option>
                        <option value="Pop">Pop</option>
                        <option value="Rock">Rock</option>
                        <option value="Metal">Metal</option>
                        <option value="Jazz">Jazz</option>
                    </select>

                </div>
                
                <div class="flex flex-wrap justify-space flex-1 mx-auto">

                        <!-- card 1 -->
                        <div v-for="disco in dischiMusicali" v-if="disco.visibility" class="card p-3 w-1/4 p-6">
                            <div class="card-content border-2 text-gray-400">
                                <div class="card-content-section">

                                    <div class="card-header border-gray-800 border-b-2">
                                        <img :src="disco.poster" alt="poster cd" class="mx-auto">
                                    </div>

                                    <div class="card-main p-6 text-2xl">

                                        <p class="font-bold">Title: <span class="font-normal">{{disco.title}}</span></p>
                                        <p class="font-bold">Autore: <span class="font-normal">{{disco.author}}</span></p>
                                        <p class="font-bold">Genere: <span class="font-normal">{{disco.genre}}</span></p>
                                        <p class="font-bold">Anno: <span class="font-normal">{{disco.year}}</span></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                  
                </div>

            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>